// COLORS
$color-primary-light: #dedede;
$color-primary-dark: #cacaca;

$color-secondary-light: #2e2e2e;
$color-secondary-dark: #2c2c2c;

$color-tertiary-light: #fa5655;
$color-tertiary-dark: #f83c3b;

$color-white: #fff;
$color-black: #000;
