.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .btn {
    width: 3rem;
    height: 3rem;
    margin: 2.5px;
    font-family: inherit;
    font-size: 2rem;
    background: none;

    &:hover {
      color: $color-tertiary-dark;
    }

    &--operator {
      color: $color-tertiary-dark;

      &:hover {
        color: $color-black;
      }
    }

    &--equals {
      width: 2.4rem;
      height: 2.4rem;
      line-height: 2.4rem;
      background-color: $color-tertiary-light;
      border-radius: 5px;
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);

      &:hover {
        background-color: $color-tertiary-dark;
        color: $color-black;
      }
    }

    &--dell {
      position: relative;

      span {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        border: 2px solid $color-black;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover span {
        border: 2px solid $color-tertiary-dark;
      }
    }
  }
}
