body {
  font-family: "poppins", sans-serif;
  line-height: 1.7;
  color: $color-white;
}

.heading__tertiary {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  color: $color-white;
}
